<div>
  <h2>Template Examples</h2>

  <div>
    <div style="display: flex; flex-direction: row;">
      <div style="flex: 1; background: green">
      Hell World
      </div>
      <div style="flex: 1; background: purple; overflow: hidden;">
        <div class="container">
          <div class="box">
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
            <div class="element">hello world - goodbye cruel world</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <mat-card>
    <button (click)="reload()">Reload</button>
    <button (click)="tickle()">Color stuff</button>

    <button (click)="addColumn()">Add Column</button>
    <button (click)="insertColumn(1)">Insert Column (1)</button>
    <button (click)="removeColumn(0)">Remove Column(0)</button>

    <button (click)="addRow()">Add Row</button>
    <button (click)="insertRow(1)">Insert Row (1)</button>
    <button (click)="removeRow(0)">Remove Row (0)</button>

    <button (click)="updateFirstName()">Update First Name</button>

    <button (click)="toggleExpander()">Toggle Expander</button>
  </mat-card>


  <div style="display: flex; flex-direction: column;">
    <div>
      I'm on top
    </div>
    <div style="background: red; display:flex; flex-direction: row;">
      <div class="mat-elevation-z1">
        <am-data-grid #grid [model]="gridModel" [dataSource]="arrayDS" (events)="gridEvent($event)">
          <ng-template #firstNameHeaderTemplate let-column="column"> (: First Name  - {{column.config.key}} :) </ng-template>
          <ng-template #alternativeFirstNameHeaderTemplate let-column="column"> Skuus, Pasop, Vockoff {{column.config.key}}</ng-template>
          <ng-template #firstNameDataTemplate let-column="column" let-row="row">{{row.data.firstName}} - {{message}} - {{row.data.insertedColumn}}</ng-template>

          <ng-template #expanderTemplate let-row="row">
            Hello World
          </ng-template>
        </am-data-grid>

        <mat-paginator #paginator
                      [length]="arrayDS.totalSize"
                      [pageIndex]="arrayDS.pageIndex"
                      [pageSize]="arrayDS.pageSize"
                      [pageSizeOptions]="[5, 10, 15, 20, 35, 50]"></mat-paginator>
      </div>
    </div>
    <div>
    I'm at the bottom
    </div>
  </div>
</div>

